@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --neutral-dark: #161616;
  --neutral-light: #f5f5f5;
  --neutral-primary: #1D51FE;
  --neutral-grey: #6A6F74;

}

body {
  background-color: var(--neutral-dark);
  min-height: 100vh;

}

body, input, button {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: var(--neutral-light);

}

header {
  display: flex;
  align-items: center;
  padding: 25px 100px;
  position: sticky;
  top: 0;
  background-color: var(--neutral-dark);
  border-bottom: 2px solid var(--neutral-primary);
  z-index: 2;

}

.logo-container {
  display: flex;
  align-items: center;
  gap: 20px;

}

.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 15px;
  background-color: var(--neutral-light);
  border-radius: 30px;

  position: absolute;
  left: 50%;
  transform: translate(-50%);

  & > i,
  & > input {
  color: var(--neutral-primary);

  }

  & > i {
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease;
  }

  & > i:hover {
    background-color: var(--neutral-primary);
    color: var(--neutral-light);
    border-radius: 50%;

  }

  & > input {
    border: none;
    outline: none;
    background: none;
    width: 30vw;
  }

  & > button {
    border: none;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    background-color: var(--neutral-primary);
    padding: 7px 15px;
    border-radius: 30px;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  & > button:hover {
    filter: brightness(.9);

  }

}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  width: 50%;
  margin: 0 auto;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 50px;

  & img {
    border-radius: 50%;
    width: 200px;
    transition: all 0.3s ease;

  }

  & img:hover {
    transform: scale(1.1);

  }

}

.profile-info  {
  display: flex;
  flex-direction: column;
  gap: 5px;

  & > h3 {
    font-size: 36px;
    font-weight: 500;

  }

  & > span {
    font-size: 14px;
    color: var(--neutral-grey);

  }

  & > p {
    font-size: 16px;
    font-weight: 500;
    max-width: 60%;
    margin: 15px 0;

  }

  & > div {
    display: flex;
    align-items: center;
    gap: 5px;

  }

}

.profile-extra-info {
  display: flex;
  align-items: center;
  gap: 25px;

  & span {
    color: var(--neutral-grey);
    margin-left: 5px;

  }

}

.profile-data {
  display: flex;
  margin: 25px auto 0 0;
  gap: 50px;

  & > div {
    display: flex;
    gap: 15px;
    padding: 5px 15px;
    border-radius: 7px;
    transition: all 0.3s ease;

    p {
      color: var(--neutral-grey);
    }

  }

}

.profile-data > div:hover {
  background-color: #1D51FE;

  & > * {
    color: var(--neutral-light);

  }

}

main {
  padding: 0 100px 50px 100px;

}

.repositories-container {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 75px;

}

.repository-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
 
}

.repository-header {
  border-radius: 0px 15px 0px 0px;
  background-color: var(--neutral-primary);
  width: 100%;
  height: 100px; 
  display: flex;
  align-items: flex-end;
  
}

.repository-header p {
  padding: 10px;
  font-size: 26px;
  word-wrap: break-word;
  font-weight: 500;
  max-width: 100%;

}

.repository-info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.repository-info span {
  font-weight: 500;

}

.repository-info div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.repository-info div i {
  color: var(--neutral-primary);
  font-size: 16px;

}

.repository-card > p {
  font-size: 14px;
  padding: 10px;
}

.repository-action {
  color: var(--neutral-light);
  background-color: var(--neutral-primary);
  border: none;
  display: flex;
  width: min-content;
  margin-left: 10px;
  padding: 5px 15px;
  border-radius: 7px;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;

}